body{
	font-family: 'Lato', sans-serif;
}        
.clear{
	clear:both;
}
header{
	border:1px solid red;
}
#menu ul{
	list-style: none;
	margin:0;
	padding:0;
}
#menu ul li{
	float:left;
	padding:5px;
	background:red;
}
#menu ul li:hover{
	background:#f4f4f4;
} 
#menu ul li:hover a{
	color:black;
} 
#menu ul li a{
	color:white;
	text-decoration: none;
}
.pais{
	border:1px solid green;
	margin:10px 0;
	width:50%;
}
.pelicula{
    width: 200px;
    height: 400px;
    float: left;
    margin: 10px;
}
.pelicula:hover{
    background: #f4f4f4
}
.pelicula img{
    width: 200px;
    max-height: 300px;
    min-height: 300px;
}
.datopelicula{
    text-align: left;
    width: 100%;
    height: 25px;
    line-height: 25px;
}
.nombrepelicula{
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px dashed red;
}







